* {
	box-sizing: border-box;
}

.tedx-speakers-feed {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	list-style: none;
	font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
	font-style: normal;
	/* font-weight: 700; */
	color: inherit;
	text-rendering: optimizeLegibility;
}

.speaker {
	margin: 1rem;
	text-align: center;
	width: 200px;
}

.speaker-link {
	display: block;
}

.speaker-photo {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	overflow: hidden;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}
.speaker-photo img {
	max-width: 100%;
	height: auto;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}
.speaker-link:hover .speaker-photo {
	background: #e62b1e;
}
.speaker-link:hover .speaker-photo img {
	opacity: 0.4;
}

.speaker-name {
	font-size: 1.25rem;
	line-height: 1.4;
	margin-top: 1rem;
	margin-bottom: 0;
}

.speaker-occupation {
	font-family: Roboto Condensed, Helvetica Neue, Helvetica, Roboto, Arial,
		sans-serif;
	font-size: 85%;
	text-transform: uppercase;
	line-height: 1.25;
	font-weight: 400;
	display: block;
}
.speaker-current-role {
	display: none;
}
a.speaker-link {
	color: #0a0a0a;
	text-decoration: none;
}
a.speaker-link:hover,
a.speaker-link:active a.speaker-link:focus {
	color: #c92216;
}


